@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

.container-fluid {
    padding: 3% 15%;

}

/*Nav bar*/
.navbar {
    padding: 0 0 4.5rem 0;
}

.nav-item {
    padding: 0 1rem;
}

.nav-link {
    font-size: 1.2rem;
}

.nav-link {
    color: #444
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;

}

/*Title section*/
.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

/*Features Section*/
.features-block {
    padding: 4.5rem 0;
    text-align: center;
}

.features-icon {
    font-size: 3rem;
    padding: 0.5rem 0;
    color: #ef8172;
}

.features-icon:hover {
    color: #ff4c88;
}

.features-title {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    font-weight: bold;
}

.features-text {
    color: #8f8f8f;
}

/*Global Tags*/
h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

body {
    font-family: 'Montserrat', sans-serif;
}